nav{
  display: flex;
  justify-content: space-evenly;
}

nav a{
  color: wheat;
}

#app{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#app form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

